In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
url="../data/processed/sorted_output.csv"
parse_dates=["time"]
ds = pd.read_csv(url, parse_dates=parse_dates)

In [4]:
# Analizing only Temperature information
dst = ds[pd.notnull(ds["T"])]
dst = dst[["time","sensor","T"]]

In [5]:
dst.shape

(5711640, 3)

In [6]:
dst["sensor"].value_counts()

DHT22     1440150
HTU21     1428383
BMP280    1422795
DHT11     1420308
DM280           4
Name: sensor, dtype: int64

In [7]:
dst.sample(10)

                       time  sensor      T
3610865 2018-02-09 02:57:53   HTU21  20.97
72617   2017-12-23 02:11:16   DHT11  21.00
5997852 2018-03-13 00:22:35   DHT11  23.00
1035355 2018-01-08 22:21:14   DHT11  21.00
3649040 2018-02-09 13:23:03  BMP280  26.11
3894699 2018-02-12 09:00:16   DHT11  23.00
2629824 2018-01-27 18:41:41   HTU21  21.11
1823161 2018-01-18 01:58:44   DHT22  23.80
2905931 2018-02-01 00:30:27   DHT11  21.00
4280721 2018-02-17 02:49:52   DHT22  24.30

In [8]:
dst.describe(include="all")

                       time   sensor             T
count               5711640  5711640  5.711640e+06
unique              5711533        5           NaN
top     2018-03-13 11:35:48    DHT22           NaN
freq                      4  1440150           NaN
first   2017-12-19 14:07:18      NaN           NaN
last    2018-03-13 11:42:11      NaN           NaN
mean                    NaN      NaN  2.201185e+01
std                     NaN      NaN  2.631197e+00
min                     NaN      NaN  1.500000e+01
25%                     NaN      NaN  2.063000e+01
50%                     NaN      NaN  2.211000e+01
75%                     NaN      NaN  2.393000e+01
max                     NaN      NaN  2.980000e+01

In [10]:
dst1 = dst[dst["sensor"]=="HTU21"]

In [11]:
dst1.describe(include="all")

                       time   sensor             T
count               1428383  1428383  1.428383e+06
unique              1428383        1           NaN
top     2018-01-18 04:08:41    HTU21           NaN
freq                      1  1428383           NaN
first   2017-12-20 12:17:05      NaN           NaN
last    2018-03-13 11:42:11      NaN           NaN
mean                    NaN      NaN  2.153985e+01
std                     NaN      NaN  2.573268e+00
min                     NaN      NaN  1.508000e+01
25%                     NaN      NaN  2.026000e+01
50%                     NaN      NaN  2.181000e+01
75%                     NaN      NaN  2.334000e+01
max                     NaN      NaN  2.821000e+01

In [12]:
dst2 = dst[dst["sensor"]=="DHT11"]

In [13]:
dst2.describe(include="all")

                       time   sensor             T
count               1420308  1420308  1.420308e+06
unique              1420308        1           NaN
top     2018-03-10 00:35:58    DHT11           NaN
freq                      1  1420308           NaN
first   2017-12-22 11:22:11      NaN           NaN
last    2018-03-13 11:42:09      NaN           NaN
mean                    NaN      NaN  2.124776e+01
std                     NaN      NaN  2.492706e+00
min                     NaN      NaN  1.500000e+01
25%                     NaN      NaN  2.000000e+01
50%                     NaN      NaN  2.200000e+01
75%                     NaN      NaN  2.300000e+01
max                     NaN      NaN  2.900000e+01

In [18]:
dst3 = dst[dst["sensor"]=="BMP280"]

In [19]:
dst3.describe(include="all")

                       time   sensor             T
count               1422795  1422795  1.422795e+06
unique              1422795        1           NaN
top     2018-01-11 04:46:22   BMP280           NaN
freq                      1  1422795           NaN
first   2017-12-22 10:52:59      NaN           NaN
last    2018-03-13 11:42:08      NaN           NaN
mean                    NaN      NaN  2.224838e+01
std                     NaN      NaN  2.619527e+00
min                     NaN      NaN  1.568000e+01
25%                     NaN      NaN  2.096000e+01
50%                     NaN      NaN  2.253000e+01
75%                     NaN      NaN  2.408000e+01
max                     NaN      NaN  2.899000e+01

In [22]:
dst4 = dst[dst["sensor"]=="DHT22"]

In [23]:
dst4.describe(include="all")

                       time   sensor             T
count               1440150  1440150  1.440150e+06
unique              1440150        1           NaN
top     2018-02-09 02:41:10    DHT22           NaN
freq                      1  1440150           NaN
first   2017-12-19 14:07:18      NaN           NaN
last    2018-03-13 11:42:10      NaN           NaN
mean                    NaN      NaN  2.299986e+01
std                     NaN      NaN  2.480804e+00
min                     NaN      NaN  1.670000e+01
25%                     NaN      NaN  2.170000e+01
50%                     NaN      NaN  2.330000e+01
75%                     NaN      NaN  2.480000e+01
max                     NaN      NaN  2.980000e+01

In [14]:
fig_size = plt.rcParams["figure.figsize"]
fig_size[0] = 20
fig_size[1] = 10
plt.rcParams["figure.figsize"] = fig_size

In [ ]:
plt.plot(dst1["time"], dst1["T"], "green", label="HTU21")
plt.plot(dst2["time"], dst2["T"], "blue", label="DHT11")
plt.plot(dst3["time"], dst3["T"], "orange", label="BMP280")
plt.plot(dst4["time"], dst4["T"], "red", label="DHT22")
plt.xlabel("Time")
plt.ylabel("Temperature")
plt.legend()