In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
url="../data/processed/output.csv"
convert_dates=["time"]
ds = pd.read_csv(url, parse_dates="true")

TypeError: Only booleans, lists, and dictionaries are accepted for the 'parse_dates' parameter

In [3]:
ds.shape

(10885, 8)

In [6]:
ds.head(10)

,Cryptocurrency,Date,Open,High,Low,Close,Volume,Market Cap
0,omisego,"Sep 04, 2017",10.55,10.55,7.31,8.78,"159,979,000","1,037,440,000"
1,omisego,"Sep 03, 2017",10.79,11.37,9.64,10.57,"68,616,800","1,060,760,000"
2,omisego,"Sep 02, 2017",11.99,11.99,9.96,10.80,"93,561,000","1,178,610,000"
3,omisego,"Sep 01, 2017",11.73,12.52,11.63,11.97,"91,962,400","1,153,390,000"
4,omisego,"Aug 31, 2017",11.17,12.08,10.78,11.74,"89,710,200","1,098,470,000"
5,omisego,"Aug 30, 2017",9.49,11.67,9.30,11.07,"194,613,000","932,958,000"
6,omisego,"Aug 29, 2017",8.58,9.62,8.45,9.46,"86,155,000","843,249,000"
7,omisego,"Aug 28, 2017",8.33,8.93,8.15,8.59,"52,390,300","819,005,000"
8,omisego,"Aug 27, 2017",8.29,8.37,8.03,8.33,"22,915,000","815,412,000"
9,omisego,"Aug 26, 2017",8.26,8.33,7.85,8.28,"25,661,900","812,289,000"

In [12]:
ds["Cryptocurrency"].value_counts()

litecoin            1591
bitcoin             1591
ripple              1493
dash                1299
monero              1202
nem                  888
ethereum             760
waves                460
ethereum_classic     408
stratis              389
neo                  361
bitconnect           228
iota                  84
bitcoin_cash          44
qtum                  29
numeraire             29
omisego               29
Name: Cryptocurrency, dtype: int64

In [13]:
ds.describe(include="all")

,Cryptocurrency,Date,Open,High,Low,Close,Volume,Market Cap
count,10885,10885,10885.000000,10885.000000,10885.000000,10885.000000,10885,10885
unique,17,1591,NaN,NaN,NaN,NaN,10228,10782
top,litecoin,"Aug 22, 2017",NaN,NaN,NaN,NaN,-,-
freq,1591,17,NaN,NaN,NaN,NaN,631,79
mean,NaN,NaN,107.771067,111.222251,104.575532,108.203213,NaN,NaN
std,NaN,NaN,359.214521,371.009992,348.291826,361.324622,NaN,NaN
min,NaN,NaN,0.000086,0.000089,0.000079,0.000086,NaN,NaN
25%,NaN,NaN,0.187457,0.200834,0.177627,0.188478,NaN,NaN
50%,NaN,NaN,2.820000,2.930000,2.690000,2.820000,NaN,NaN
75%,NaN,NaN,15.100000,15.840000,14.230000,15.190000,NaN,NaN
max,NaN,NaN,4901.420000,4975.040000,4678.530000,4892.010000,NaN,NaN